$bustedorange: #e59825;


#g-header {
    height: 100vh;
}

#g-header .g-content.g-particle {
    padding: 20%;
}
.icons-line {
    margin: 0 auto;
    width: 50%;
    font-size: 65pt;
}

.linkedin-avatar {
    width: 150px;
    border-radius: 200px;
    margin-right: 20px;
}

.g-logo.g-logo-helium.footer-logo > img {
    width: 100px;
    max-width: 100px;
    max-height: 100px;
}

.g-logo.g-logo-helium.logo-header > img {
    max-height: 100px;
}

.job-desc {
    font-size: 0.7em;
    color: #bbb;
    font-style: italic;
}
.footer-links > a > i {
    color: $bustedorange;
    font-size: 1.8em;
    width: 40px;
}

.g-social {
    font-size: 2em;
}

#g-navigation .g-main-nav .g-toplevel {
    line-height: 6;
}

.g-menu-item-title {
    padding: 5px 10px;
    color:#ffffff;
}

.g-menu-item-title:hover {
    color: $bustedorange;
}
